html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  width: 100vw;
  background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
