.ui.input {
  width: 90% !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.ui.large.search {
  padding-top: 5em;
}

@media (min-width: 480px) {
  .ui.input {
    width: 60% !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .ui.large.search {
    padding-top: 8em;
  }

  /*.ui.large.focus.search .ui.input {
    width: 60% !important;
  }*/
}
